.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header {
  background-color: $primaryFooterColor;
  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .textField {
      // background-color: white;
    }
    .select {
      background-color: white;
    }
  }
}
.content-wrapper {
  margin-top: 5rem;
  margin-bottom: 10rem;
  .photo-wrapper {
    padding: 1rem;
    border: 1px solid $borderColor;
    background: $primaryColor;
    border-radius: 1rem;
    margin: 2px;
    position: relative;
    .favbtn-wrapper {
      cursor: pointer;
      background: white;
      position: absolute;
      background: #c7c1c1a3;
      border-radius: 5px;
      top: 30px;
      left: 30px;
      .favbtn-selected {
        color: $iconColor;
      }
      .favbtn {
        color: white;
      }
    }

    .photo {
      height: 10rem;
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
    }
  }
}
.footer-wrapper {
  background-color: $primaryFooterColor;

  display: flex;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 1rem 0.1rem;
  flex-direction: row;
  justify-content: space-evenly;
  .pagination {
    // background: white;
  }
  .select {
    background: white;
    width: 10rem;
    border-radius: 5rem;
  }
  .textField {
      padding-top:1rem
    }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
