body { 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: white;
  .contact-header {
    padding: 1rem 0.5rem;
    .logo {
      height: 25px;
      width: 25px;
      display: inline-block;
      background-color: white;
      border-radius: 50%;
      color: black;
      text-align: center;
    }
    .menu-btn-wrapper {
      text-align: right;
      .hdbtn {
        background: none;
        border: none;
        border-radius: 2rem;
        &:hover {
          background: #17a2b8;
        }
        &:focus {
          background: #17a2b8;
        }
      }
      .active {
        background: #17a2b8;
        border-radius: 2rem;
        border: none;
        &:hover {
          background: #17a2b8;
        }
        &:focus {
          background: #17a2b8;
        }
      }
    }
  }
  .content {
    margin-top: 7rem;
    text-align: center;
    .content-wrapper {
      margin-top: 7rem;
      width: auto;
      .content-header {
        padding-bottom: 1rem 0;
      }
      .content-desc {
        padding: 1rem;
      }
    }

    .form-wrapper {
      background: #3c3c39ab;
      padding: 2rem;
      text-align: left;
      .success {
        border: none;
      }
      .error {
        border: 1px solid red;
      }
      span {
        display: block;
        padding-bottom: 1rem;
      }
      .sendmsgbtn {
        width: 100%;
      }
    }
  }
}
